#delete{
    border-radius: 10px;
    color: black;
}
#delete:hover{
    width: 100px;
}
#upvote,#downvote{
    width: 25pt;
}
.votebut{
    border-radius: 16%;
    margin: 4px;
    background-color:#f8bbd0;
}