<div class="card">
<h1><img src="assets/icons8-guru-filled-50.png"> Wise Quotes<img src="assets/icons8-guru-filled-50.png"></h1>
</div>
<hr>
<div class="container">
  <div class="row">
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  </div>
<ul>
  <div *ngFor='let quote of quotes;let i= index'>
  <li appHighlight id="display">{{quote.name}}</li>
  <button id="togglebtn" (click)='toggleDetails(i)'>Author</button>
  <app-quote-details *ngIf="quote.showDescription" [quote]='quote' (isComplete)='deleteQuote($event,i)' (isLike)='likeVote($event,i)' (isDislike)='dislikeVote($event,i)'></app-quote-details>
 </div>
</ul>
</div>